<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Bootstrap Core CSS -->
  <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
  <meta charset="UTF-8">
  <title>READ - VIEW</title>
</head>
<body>
    <h2> Hasil </h2> <br>
        <div class="table cols-md-12">
            <table id="tabel" class="display" style="width: 100%;">
              <thead>
                <tr>
                    <th>ID</th>
                    <th>Pasien</th>
                    <th>Dokter</th>
                    <th>Date</th>
                    <th>Start Time</th>
                    <th>End Time</th> 
                    <th>Order</th>
                    <th>Sender</th>
                    <th>Detail</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
</body>
<script>
  $(document).ready(function () {
     $('#tabel').DataTable({
          "processing": true,
          "serverSide": false,
          "ajax": {
              "data": "json",
              "type": "GET",
              "url": "/konsultasi/read/table",
              dataSrc:""
          },
              "columns":
                  [
                      { "data": "id_konsultasi" },
                      { "data": "pasien" },
                      { "data": "dokter" },
                      { "data": "tanggal" },
                      { "data": "jam_mulai" },
                      { "data": "jam_selesai" },
                      { "data": "urutan" },
                      { "data": "pengirim" },
                      { "data": "detail" },
                      { "data": "status" },
                      {
                        "data": null,
                        "bSortable": false,
                        "mRender": function (data, type, row) { 
                            return  '<a href=/konsultasi/update/' + row.id_konsultasi + '><button type="button" class="btn btn-primary">' + 'Edit' + '</button></a>   ' +
                                    '<a href=/konsultasi/delete/' + row.id_konsultasi + '><button type="button" class="btn btn-danger">' + 'Hapus' + '</button></a>'; 
                        }
                      }
                  ]
          
      });
  });
</script>
</html>