<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Find</title>
</head>
<body>
  <h1> Input Data Pasien</h1>
  <form action="/pasien/form_create" method="POST">
    <input type="text" placeholder="Username. EXP : Administrator" name="username"><br><br>
    <input type="password" placeholder="Password" name="password"><br><br>
    <input type="text" placeholder="Name. EXP : Sabar Abay" name="name"><br><br>
    <input type="text" placeholder="Phone Number" name="telepon"><br><br>
    <input type="email" placeholder="Email" name="email"><br><br>
    <h4> Adress</h4>
    <input type="text" placeholder="Province" name="provinci"><br><br>
    <input type="text" placeholder="City" name="kota"><br><br>
    <input type="text" placeholder="District" name="kecamatan"><br><br>
    <textarea type="text" placeholder="Detail" name="detail"></textarea><br><br>
    <input type="text" placeholder="Postal code" name="kodepos"><br><br>

    <button type="submit">Submit</button>
  </form>
</body>
</html>