<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Find</title>
</head>
<body>
  <h1> Input Data Dokter </h1>
  <form action="/dokter/form_create" method="POST">
    <input type="text" placeholder="Username. EXP : Dokter" name="username"><br><br>
    <input type="password" placeholder="Password" name="password"><br><br>
    <input type="text" placeholder="Name. EXP : Sabar Abay" name="name"><br><br>
    <input type="text" placeholder="Phone Number" name="telepon"><br><br>
    <input type="email" placeholder="Email" name="email"><br><br>
    <h4> Adress Praktik </h4>
    <input type="text" placeholder="Province" name="provinsipraktik"><br><br>
    <input type="text" placeholder="City" name="kotapraktik"><br><br>
    <input type="text" placeholder="District" name="kecamatanpraktik"><br><br>
    <textarea type="text" placeholder="Detail" name="detailpraktik"></textarea><br><br>
    <input type="text" placeholder="Postal code" name="kodepospraktik"><br><br>
    <h4> Adress Tinggal </h4>
    <input type="text" placeholder="Province" name="provinsi"><br><br>
    <input type="text" placeholder="City" name="kota"><br><br>
    <input type="text" placeholder="District" name="kecamatan"><br><br>
    <textarea type="text" placeholder="Detail" name="detail"></textarea><br><br>
    <input type="text" placeholder="Postal code" name="kodepos"><br><br>
    <h4> Detail </h4>
    <input type="text" placeholder="Spesialis" name="spesialis"><br><br>
    <input type="text" placeholder="String" name="string"><br><br>
    <input type="text" placeholder="Saldo" name="saldo"><br><br>
    <input type="text" placeholder="Status" name="status"><br><br>
    <input type="text" placeholder="Harga" name="harga"><br><br>


    <button type="submit">Submit</button>
  </form>
</body>
</html>