<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Bootstrap Core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!-- jQuery 
	<script src="/../../assets/jquery.min.js"></script> -->
    <!-- Datatables CSS 
    <link href="/assets/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css"> -->

  <meta charset="UTF-8">
  <title>Table</title>
</head>
<body>
    <button type="button" class="btn btn-primary">Primary</button>
    <button type="button" class="btn btn-secondary">Secondary</button>
    <button type="button" class="btn btn-success">Success</button>
    <button type="button" class="btn btn-danger">Danger</button>
    <button type="button" class="btn btn-warning">Warning</button>
    <button type="button" class="btn btn-info">Info</button>
    <button type="button" class="btn btn-light">Light</button>
    <button type="button" class="btn btn-dark">Dark</button>
    <button type="button" class="btn btn-link">Link</button>

    <!-- DataTables JavaScript 
	<script src="/../../assets/datatables/media/jquery.dataTables.min.js"></script>
	<script src="/../../assets/datatables/media/dataTables.bootstrap.min.js"></script> -->

	<!-- Bootstrap Core JavaScript 
	<script src="/../../assets/bootstrap/js/bootstrap.min.js"></script> -->


    
</body>
</html>