<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Find</title>
</head>
<body>
  <h1> May Node and Express be with you. Yes</h1>
  <form action="/admin/form_create" method="POST">
    <input type="text" placeholder="ID Transaksi. EXP : ADM_0000000X" name="id_transaksi"><br><br>
    <input type="text" placeholder="Username. EXP : Administrator" name="username"><br><br>
    <input type="password" placeholder="Password" name="password"><br><br>
    <input type="text" placeholder="Name. EXP : Sabar Abay" name="nama"><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>