<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create - Find</title>
</head>
<body>
  <h1> Input Data Transaksi</h1>
  <form action="/transaksi/form_create" method="POST">
    <input type="text" placeholder="Id Transaksi" name="id_transaksi"><br><br>
    <input type="text" placeholder="Id User" name="id_pengguna"><br><br>
    <input type="text" placeholder="Type" name="jenis"><br><br>
    <input type="text" placeholder="Nominal" name="nominal"><br><br>
    <button type="submit">Submit</button>
  </form>
</body>
</html>